<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<table border="1" style="width:500px;">

	<tr><td>ID</td><td>Coursename</td><td>Duration</td><td>Fees</td></tr>
	<% @courses.each do |course| %>
	<tr>
	<td> <%= course.id %> </td>
	<td> <%= course.cname %> </td>
	<td> <%= course.duration %> </td>
	<td> <%= course.fees %> </td>
	<td><a href="/students/new?q=<%= course.id %>">Add Student</a></td>
	</tr>
   <% end %>
</table>
<br><br>
<a href="<%= new_course_path(@course) %>"><input type="button" value="Create New Course" style="background-color: blue;width:200px;height:30px; border:1px solid black;border-radius: 10px;color:white;" /></a>