<div style="margin-left: 100px;margin-top: 100px;">
<%= form_with model: @reg do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.text_field :password %><br>
   
  </div>
<div>
    <%= form.label :fname %><br>
    <%= form.text_field :fname %><br>
   
  </div>

  <div style="margin-top:10px;">
    <%= form.submit %>
  </div>
<% end %>
</div>